/**
 * This document contains the styles of Todofy website homepage
 * divided into the sections below:
 *
 * 1. Global Styles.
 *
 * 2. Header Section.
 *
 * 3. Add Task Form Section.
 *
 * 4. List Task Section.
 *
 * 5. Footer Section.
 *
 */




/**
 * 1. Global Styles.
 */
* {
    margin: 0;
    box-sizing: border-box;
}




/**
 * 2. Header Section.
 */
/** Logo */
.header-section {
    display: flex;
    justify-content: right;
    background-color: #F5F5F5;
    height: 3.2rem;
}

.header-section img {
    position: absolute;
    top: 0.075rem;
    left: 0.5rem;
}

/** Navigation */
.toggle,
[id^=drop] {
    display: none;
}

nav {
    margin: 0;
    padding: 0;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    background-color: #F5F5F5;
}

nav a {
    display: block;
    padding: 0 1.25rem;
    color: #484554;
    line-height: 3.2rem;
    cursor: pointer;
    text-decoration: none;
    padding-left: 0.75rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.063rem;
}

nav ul li ul li:hover {
    background: #D3D3D3;
}

nav a:hover {
    background-color: #D3D3D3;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 2rem;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}

li>a:after {
    content: ' +';
}

li>a:only-child:after {
    content: '';
}

/**
 * Common breakpoints for widths of devices:
 *
 * 320px — 480px: Mobile devices
 * 481px — 768px: iPads, Tablets
 * 769px — 1024px: Small screens, laptops
 * 1025px — 1200px: Desktops, large screens
 * 1201px and more —  Extra large screens, TV
 *
 * Let's make the responsive menu for all small screens devices.
 */

@media all and (max-width : 1024px) {

    .header-section {
        height: 3.75rem;
    }

    .header-section img {
        top: 0.3rem;
        left: 0.5rem;
    }

    nav {
        width: 100%;
    }

    nav a {
        width: 100vh;
    }

    .toggle+a,
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        padding: 0 20px;
        background-color: #F5F5F5;
        color: #484554;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        letter-spacing: 0.063rem;
        line-height: 3.75rem;
        text-decoration: none;
        border: none;
    }

    #hamburger {
        text-align: right;
        font-size: 2rem;
    }

    #hamburger {
        text-align: right;
    }

    .toggle:not(#hamburger):hover {
        background-color: #D3D3D3;
    }

    [id^=drop]:checked+ul {
        display: block;
    }

    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: #F5F5F5;
    }

    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #F5F5F5;
    }

    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }

    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none;
    }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li {
        position: static;
    }

}




/**
 * 3. Add Task Form Section.
 */
.add-task-form-section {
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
}

.add-task-form-section form {
    border: 1px solid #ccc;
}

.form-container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.form-title-container {
    display: flex;
}

.form-title-container img {
    opacity: 0.6;
    transition: all .2s ease-in-out;
}

.form-title-container img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.form-container h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: #32303B;
    margin-left: 0.5rem;
}

.form-container p {
    font-family: 'Karla', sans-serif;
    font-size: 0.875rem;
    color: #32303B;
}

.add-task-form-section hr {
    border: 1px solid #f1f1f1;
}

.form-container label {
    font-family: 'Karla', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    margin-top: 0.6rem;
    margin-bottom: 0.3rem;
    color: #32303B;
}

/* Full-width input fields */
.add-task-form-section input[type=text],
.add-task-form-section input[type=date],
.add-task-form-section textarea,
.add-task-form-section select {
    width: 100%;
    padding: 0.5rem;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-family: 'Karla', sans-serif;
    font-size: O.875rem;
}

.add-task-form-section input[type=text]:focus,
.add-task-form-section input[type=date]:focus,
.add-task-form-section textarea:focus,
.add-task-form-section select:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
.add-task-form-section button {
    background-color: #007F59;
    color: white;
    padding: 0.5rem 1.5rem;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.add-task-form-section button:hover {
    opacity: 1;
}

.messageDiv {
    color: #B6001D;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.5rem;
    letter-spacing: 0.08rem;
    margin-top: 0.5rem;
}

#span-vertical-id {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background-color: #7575FF;
    color: white;
    font-size: 0.65rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
}

#span-horizontal-id {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    background-color: #7575FF;
    color: white;
    font-size: 0.75rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 0.15rem;
    text-orientation: upright;
    text-transform: uppercase;
}

.element-display-none {
    display: none;
}

/**
 * Common breakpoints for widths of devices:
 *
 * 320px — 480px: Mobile devices
 * 481px — 768px: iPads, Tablets
 * 769px — 1024px: Small screens, laptops
 * 1025px — 1200px: Desktops, large screens
 * 1201px and more —  Extra large screens, TV
 *
 * Let's make the responsive menu for all small screens devices.
 */
@media only screen and (max-width: 1024px) {

    .add-task-form-section {
        margin-top: 5%;
        margin-left: 0;
        margin-right: 0;
    }

}




/**
 * 4. List Task Section.
 */
.list-task-section {
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
}

.task {
    border: 1px solid #ccc;
    padding: 0.5rem;
}

.task-field-label {
    color: #32303B;
    line-height: 1rem;
    font-family: 'Karla', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.063rem;
}

.task-field-value {
    color: #32303B;
    line-height: 1rem;
    font-family: 'Karla', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
}

.task-fields-layer {
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: space-between;
}

.task-column-left {
    width: 85%;
}

.task-column-right {
    width: 15%;
}

.task-button-container{
    margin-top: 0.5rem;
}

.btn-delete {
    background-color: #F73F49;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Karla', sans-serif;
    font-size: 0.875rem;
}

.btn-delete:hover {
    opacity: 1;
    transform: scale(1.1);
}
/**
 * Common breakpoints for widths of devices:
 *
 * 320px — 480px: Mobile devices
 * 481px — 768px: iPads, Tablets
 * 769px — 1024px: Small screens, laptops
 * 1025px — 1200px: Desktops, large screens
 * 1201px and more —  Extra large screens, TV
 *
 * Let's make the responsive menu for all small screens devices.
 */
 @media only screen and (max-width: 1024px) {

    .list-task-section {
        margin-top: 5%;
        margin-left: 0;
        margin-right: 0;
    }

    .task-column-left {
        width: 75%;
    }
    
    .task-column-right {
        width: 25%;
    }

}





/**
 * 5. Footer Section.
 */
.footer-section {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #F5F5F5;
    color: #002d3b;
    font-family: 'Karla', sans-serif;
    font-size: 0.875rem;
    line-height: 1.625rem;
    letter-spacing: 0px;
}